{% load static %}
<div class="Brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="{% static "core/images/logo-godrej.png" %}">
            </div>
            <div class="col-5">
                <img src="{% static "core/images/logo-oppo.png" %}">
            </div>
            <div class="col-5">
                <img src="{% static "core/images/logo-paypal.png" %}">
            </div>
            <div class="col-5">
                <img src="{% static "core/images/logo-philips.png" %}">
            </div>
            <div class="col-5">
                <img src="{% static "core/images/logo-coca-cola.png" %}">
            </div>
        </div>
    </div>
</div>