{% load static %}
<div class="categories">
    <div class="small-container">
        <div class="row">
            <h3>categories</h3>

            <div class="col-1">
                <a href="{% url "Men" %}">

                    <img src="{% static "core/images/mens cat.jpg" %}">
                </a>
            </div>
            <div class="col-1">
                <a href="{% url "Womens" %}">
                    <img src="{% static "core/images/woman-grey-shirt.jpg" %}">
                </a>
    
            </div>
            <div class="col-1">
                <img src="{% static "core/images/full-shot-smiley-girl-with-flowers_23-2149067166.jpg" %}">
    
            </div>
        </div>

    </div>
   
</div>