{% load static %}
<div class="offer">
    <div class="small-container-1">
        <div class="row">
            <div class="col-2">
                <img src="{% static "core/images/exclusive.png" %}" class="Offer-img">
            </div>
            <div class="col-2">
                <p>Exclusive Available on RedStore</p>
                <h1>Smart Band 4</h1>
                <small class="dolly">The Mi Smart Band 4 features a 39.9% larger 
                    (than Mi Band 3) <br>AMOLED color full-touch
                    display with adjustable brightness. so everything is clear as can 
                    be.</small>

                <a href="" class="btn2">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>