{% extends "core/base.html" %}

{% load static %}


{% block content %}



    <div class="small-container">

        <div class="row row-2">
            
            <h2>All Products</h2>
            <select>
                <option>Default Shorting</option>
                <option>Short by Price</option>
                <option>Short by Popularity</option>
                <option>Short by Ratting</option>
                <option>Short by Sale</option>
                
            </select>
        </div>





        <div class="row">
            <div class="col-3 x">
                <img src="{% static "core/images/product-1.jpg" %}" alt="Red Printed T-Shirt">
                <h6>Red Printed T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="col-3 x">
                <img src="{% static "core/images/product-2.jpg" %}" alt="Black Shose">
                <h6>Black Shose</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="col-3 x">
                <img src="{% static "core/images/product-3.jpg" %}" alt="Red Printed T-Shirt">
                <h6>Red Printed T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="col-3 x">
                <img src="{% static "core/images/product-4.jpg" %}" alt="Simple Navi Blue T-Shirt">
                <h6>Simple Navi Blue T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹4342</p>
            </div>
        </div>

        <div class="row">

            <div class="col-3 x">
                <img src="{% static "core/images/product-5.jpg" %}">
                <h6>Red Printed T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="col-3 x">
                <img src="{% static "core/images/product-6.jpg" %}">
                <h6>Red Printed T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="col-3 x">
                <img src="{% static "core/images/product-7.jpg" %}">
                <h6>Red Printed T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="col-3 x">
                <img src="{% static "core/images/product-8.jpg" %}">
                <h6>Red Printed T-Shirt</h6>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹4342</p>
            </div>
            <div class="row">

                <div class="col-3 x">
                    <img src="{% static "core/images/product-9.jpg" %}">
                    <h6>Red Printed T-Shirt</h6>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>₹4342</p>
                </div>
                <div class="col-3 x">
                    <img src="{% static "core/images/product-10.jpg" %}">
                    <h6>Red Printed T-Shirt</h6>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>₹4342</p>
                </div>
                <div class="col-3 x">
                    <img src="{% static "core/images/product-11.jpg" %}">
                    <h6>Red Printed T-Shirt</h6>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>₹4342</p>
                </div>
                <div class="col-3 x">
                    <img src="{% static "core/images/product-11.jpg" %}">
                    <h6>Red Printed T-Shirt</h6>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>₹4342</p>
                </div>
            </div>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>

    </div>

    
{% endblock content %}